:root {
    --primary-color: #183e4f;
    --secondary-color: #ccc;
    --text-color: white;
    --accent-color: black;
    --border-radius: 8px;
    --card-border-radius: 0px;
    --font-size-base: 1rem;
    --font-size-large: 1.2rem;
    --padding-base: 10px;
    --margin-base: 1rem;
    --margin-large: 2rem;
    --blur-effect: blur(10px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: red 1px solid; */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: var(--text-color);
    margin: 40px;
    overflow: hidden;
}

.logo {
    position: relative;
    bottom: 10px;
    display: flex;
    margin: var(--margin-large) 0;
}

.content-container {
    background-color: white;
    text-align: center;
    margin-bottom: var(--margin-large);
    width: 40%;
    padding: var(--padding-base);
    border-radius: var(--border-radius);
}

#mainTextContainer {
    margin-bottom: var(--margin-base);
    font-size: var(--font-size-large);
    color: var(--accent-color);
    font-weight: bold;
}

#agreeSignText {
    margin-bottom: var(--margin-base);
    display: block;
    font-size: var(--font-size-base);
    color: var(--accent-color);
}

button {
    padding: var(--padding-base) 50px;
    font-size: var(--font-size-base);
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    margin-top: 5px;
}

.card {
    backdrop-filter: var(--blur-effect);
    border-radius: var(--card-border-radius);
    background-color: white;
    position: relative;
    margin-bottom: var(--margin-base);
    /* transition: all 0.5s ease; */
    /* animation: scaleIn 0.5s ease-out; */
}

.qr-container {
    width: 100%;
    border-radius: var(--card-border-radius);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#qrImage {
    width: 50%;
    height: 50%;
    display: none;
    /* transition: all 0.3s ease; */
    /* animation: scaleIn 0.3s ease-out; */
    margin: 20px auto 0px;
    border: 5px solid var(--primary-color);
}

#qrImage.active {
    display: block;
    animation: fadeBorder 2s forwards;
}

.loader {
    position: relative;
    margin: auto;
    width: 80px;
    aspect-ratio: 1;
    border-radius: 100vmin;
    overflow: hidden;
}

.loader::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.loader.hidden {
    display: none;
}

#qrText {
    display: none;
    color: var(--accent-color);
    /* transition: all 0.3s ease; */
    /* animation: scaleIn 0.3s ease-out; */
}

#qrText.active {
    display: inline;
}

.circular {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    margin: auto;
    transform-origin: center center;
    animation: 2s linear 0s infinite rotate;
}

.path {
    stroke: var(--primary-color);
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: 2.5s ease-in-out 0s infinite dash;
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
        stroke: var(--primary-color);
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes rotate {
    to {
        transform: rotate(2turn);
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeBorder {
    0% {
        border-color: var(--primary-color);
        /* transform: scale(1); */
    }
    100% {
        border-color: transparent;
        /* transform: scale(1.2); */
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .content-container {
        width: 80%;
    }

    #qrImage {
        width: 70%;
        height: 70%;
    }
}

@media (max-width: 480px) {
    .content-container {
        width: 90%;
    }

    #qrImage {
        width: 80%;
        height: 80%;
    }

    button {
        padding: var(--padding-base) 30px;
    }
}
