:root {
    --primary-color: #183e4f;
    --secondary-color: #ccc;
    --text-color: white;
    --accent-color: black;
    --border-radius: 8px;
    --card-border-radius: 0px;
    --font-size-base: 1rem;
    --font-size-large: 1.2rem;
    --padding-base: 10px;
    --margin-base: 1rem;
    --margin-large: 2rem;
    --blur-effect: blur(10px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: var(--text-color);
    margin: 40px;
}

.logo {
    position: relative;
    bottom: 10px;
    display: flex;
    margin: var(--margin-large) 0;
}

.content-container {
    background-color: white;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    border-radius: var(--border-radius);
    max-width: 400px;
}

#mainTextContainer {
    margin-bottom: var(--margin-base);
    font-size: var(--font-size-large);
    color: var(--accent-color);
    font-weight: bold;
    margin-top: 20px;
}

#agreeSignText {
    margin-bottom: var(--margin-base);
    display: block;
    font-size: 1rem;
    color: var(--accent-color);
    text-align: center;
    margin-top: 35px;
    padding: var(--padding-base);
}

button {
    padding: var(--padding-base) 50px;
    font-size: var(--font-size-base);
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    margin: -5px 0 25px 0;
}


#bankid-qr-code {
    margin-top: 15px;
    /* padding: 20px; */
    border-top: 0.1px solid #ccc;
    border-radius: 10px;
    /* background-color: transparent; */
}
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.link-button {
    background-color: white;
    color: var(--primary-color);
    border: none;
    margin: 0;
    font-size: var(--font-size-base);
    margin: -5px 0 -25px 0;
    padding: 10px 17px;
}

.link-button:hover {
text-decoration: underline;
}

.help-button-text.hidden {
display: none;
}
.card {
    backdrop-filter: var(--blur-effect);
    border-radius: var(--card-border-radius);
    background-color: white;
    position: relative;
    margin-bottom: var(--margin-base);
}

.qr-container {
    width: 100%;
    border-radius: var(--card-border-radius);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#qrImage {
    width: 200px;
    height: 200px;
    display: none;
    margin: 20px auto 0px;
    border: 5px solid var(--primary-color);
}

#qrImage.active {
    display: block;
    animation: fadeBorder 2s forwards;
}

.loader {
    position: relative;
    margin: auto;
    width: 80px;
    aspect-ratio: 1;
    border-radius: 100vmin;
    overflow: hidden;
}

.loader::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.loader.hidden {
    display: none;
}

#qrText {
    display: none;
    color: var(--accent-color);
    padding: var(--padding-base);
}

#qrText.active {
    display: inline;
}

.circular {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    margin: auto;
    transform-origin: center center;
    animation: 2s linear 0s infinite rotate;
}

.path {
    stroke: var(--primary-color);
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: 2.5s ease-in-out 0s infinite dash;
}

.footer {
    text-align: center;
    padding: 14px;
    font-size: .813rem;
    position: relative;
    top: auto;
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
        stroke: var(--primary-color);
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes rotate {
    to {
        transform: rotate(2turn);
    }
}

@keyframes fadeBorder {
    0% {
        border-color: var(--primary-color);
    }
    100% {
        border-color: transparent;
    }
}

/* Bank list styles */
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    font-weight: 500;
    position: relative;
    margin-top: -150px;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.search-container {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.search-container input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    margin-top: 10px;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 1.2rem;
}

.bank-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bank-list li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 1rem;
    color: #333;
    transition: background-color 0.3s ease;
}

.bank-list li:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.bank-logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.bank-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bank-name-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #868686 1px solid;
    padding-bottom: 15px;
}

.arrow {
    border: solid #ccc;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 10px;
}

/* Waiting animation styles */
.waiting {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255); /* Semi-transparent white background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's on top of other content */
    display: none; /* Hide waiting section initially */
    color: #000;
    font-weight: 450;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    display: inline-block;
    position: relative;
    width: 20px; /* Reduced width */
    height: 10px; /* Reduced height */
    cursor: pointer;
    margin: 0 5px; /* Space between arrows */
}

.waiting-arrow {
    position: absolute;
    top: 4px; /* Adjusted position */
    width: 90%;
    height: 1px; /* Reduced height */
    background-color: #000000;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    animation: waiting-arrow 1.4s linear infinite;
}

.icon:nth-child(1) .waiting-arrow {
    animation-delay: 0s;
}

.icon:nth-child(2) .waiting-arrow {
    animation-delay: 0.45s;
}

.icon:nth-child(3) .waiting-arrow {
    animation-delay: 0.9s;
}

.waiting-arrow::after, .waiting-arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 1.5px; /* Reduced height */
    right: -3px;
    background-color: #000000;
}

.waiting-arrow::after {
    top: -3.5px; /* Adjusted position */
    transform: rotate(45deg);
}

.waiting-arrow::before {
    top: 3px; /* Adjusted position */
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}

@keyframes waiting-arrow {
    0% {
    transform: translateX(0);
    opacity: 1;
    }
    25% {
    opacity: 0.6;
    }
    50% {
    opacity: 0.1;
    }
    75% {
    opacity: 0.6;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    }
}

/* Login Form Styles */
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    display: none; /* Hidden initially */
}

.login-container h2, .login-container p {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

.form-group label {
    display: block;
    color: #000000;
    position: absolute;
    font-weight: 400;
    top: 10px; /* Start position inside the input padding */
    left: 10px; /* Start position inside the input padding */
    transition: all 0.2s ease-in-out; /* Smooth animation */
    pointer-events: none; /* Ensures the label doesn't interfere with clicking the input */
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group select {
padding-left: 5px;
}

.form-group input[type="text"]{
    padding-left: 15px; /* Add extra padding to make space for the label */
    /* cursor-color: #007BFF; Change cursor color */
    /* padding-top: 25px; */
    /* padding-bottom: 0; */
    
}

/* Move label up when input is focused or has content */
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    top: 0; /* Move label to the top of the input padding */
    left: 16px; /* Adjust left position to align with the input padding */
    font-size: 12px; /* Shrink the label */
    /* color: #007BFF; Change label color */
    padding-top: 2px;
}

/* Keep the "Mobilt bankID med QR kod" text above the select field */
.form-group select {
    padding-top: 25px; /* Add extra padding to make space for the label */
}

.form-group select + label {
    top: 5px; /* Position the label above the select field */
    left: 10px;
    font-size: 12px; /* Shrink the label */
    /* color: #007BFF; Change label color */
    transition: none; /* No animation for this label */
}

#continue-button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.5; /* Disabled by default */
    pointer-events: none; /* Disabled by default */
}

#continue-button.enabled {
    opacity: 1;
    pointer-events: auto; /* Enabled when form is filled */
}
